#search {
  display: block;
  font: 16px arial, sans-serif;
  line-height: 34px;
  margin-top: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul li.left {
  float: left;
}

ul li.right {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.footer {
  border: 1px solid #000000;
}

.logo {
  padding-top: 180px;
}

.navigation {
  padding: 10px;
  font-size: small;
  color: #00000;
}
